.screen{
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
    padding: 0 10px;
    background-color: #A0C49D;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #2C3333;
    font-weight: bold;
    box-sizing: border-box;
}
